# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node.js
node_modules/

# Logs
logs/
*.log

# IDE / Editor
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Secrets
.env
config.conf.bak

# Database files

# MD
*.md