[Desktop Entry]
 Version=1.0
 Type=Application
 Name=Time Machine
 Comment=Backup your files
 Icon=/home/geovanejefferson/.local/share/timemachine/src/icons/backup.png
 Exec=python3 /home/geovanejefferson/.local/share/timemachine/src/gui.py
 Path=/home/geovanejefferson/.local/share/timemachine/
 Categories=System
 StartupWMClass=Time Machine
 Terminal=false