[Desktop Entry]
 Version=1.0
 Type=Application
 Name=Time Machine
 Comment=Backup your files
 Icon=/home/macbook/.local/share/timemachine/src/icons/backup_icon.svg
 Exec=python3 /home/macbook/.local/share/timemachine/src/gui.py
 Path=/home/macbook/.local/share/timemachine/
 Categories=System
 StartupWMClass=gui.py
 WM_CLASS(STRING)='gui.py', 'gui.py'
 Terminal=false